.div{
    text-align: center;
    margin-top: 150px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    .div_text{
        h3{
            font-size: 34px;
        }
        p{
            font-size: 18px;
        }
    }
}